<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.selva.example_employee_app">

    <application
        android:name="com.selva.example_employee_app.EmployeeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.selva.example_employee_app.ui.activity.TabPageActivity" />

        <activity android:name="com.selva.example_employee_app.ui.activity.LoginActivity" />

        <activity android:name="com.selva.example_employee_app.ui.activity.EmployeeActivity" />

        <activity android:name="com.selva.example_employee_app.ui.activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>